.mainPage {
    margin-top: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.financialSummary {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.summaryItem {
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
    text-align: center;
    width: 30%;
    box-sizing: border-box;
}

.chartsSection {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.chartContainer {
    width: 45%;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
}

.incomeInfo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.infoItem {
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
    text-align: center;
    width: 30%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .financialSummary, .chartsSection, .incomeInfo {
        flex-direction: column;
        align-items: center;
    }

    .summaryItem, .chartContainer, .infoItem {
        width: 100%;
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .summaryItem, .chartContainer, .infoItem {
        width: 100%;
        padding: 15px;
    }

    .chartsSection {
        flex-direction: column;
    }
}
